/* TABLE OF CONTENTS

1. BODY
2. MAIN DIV AND TITLE
3. INNER DIV AND COMMENTS CREATED FROM INPUTS
4. INPUT AND BUTTON
5. SCROLLBAR STYLING

-----------------------------------------------*/

/* 1. BODY */

body {
  background-color: #3089CE;
}

/* 2. MAIN DIV AND TITLE */

div.main {
  background-color: #ffffff;
  width: 80%;
  border: 2px solid black;
  box-shadow: 25px 25px 100px 0px rgba(0,0,0,0.6);
  border-radius: 15px;
  min-height: 500px;
}

h1.title {
  font-family: 'Black Ops One';
  font-size: 45px;
  color: #3089CE;
}

/* 3. INNER DIV AND COMMENTS CREATED FROM INPUTS */

div.inner {
  background-color: #C8DAE8;
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  height: 300px;
  overflow-y: scroll;
}

div.inner div.one {
  min-width: 35px;
  margin-top: 15px;
}

div.inner div img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

div.inner div.two {
  margin-top: 15px;
  padding-left: 0;
}

div.inner div p {
  display: inline;
}

div.inner div span {
  color: #3089CE;
  font-size: 11px;
}

div.inner i {
  color: grey;
}

div.inner i:hover {
  color: red;
}

/* 4. INPUT AND BUTTON */

#input {
  margin-left: 10%;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  height: 38px;
  width: 80%;
  border-radius: 10px;
  border-style: solid;
  border: 1px solid black;
  background-color: #C8DAE8;
 }

button.btn {
  border-radius: 10px;
}

.btn-outline-primary {
  color: #3089CE;
  border-color: #3089CE;
}

.btn-outline-primary:hover {
  background-color: #3089CE;
  border-color: #3089CE;
}

/* 5. SCROLLBAR STYLING */

#style-7::-webkit-scrollbar-track {
  margin: 3px 0;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #C8DAE8;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar {
	width: 10px;
  background-color: #C8DAE8;
}

#style-7::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
