body {
  background-color: #3089CE;
}

div.main {
  background-color: #ffffff;
  width: 80%;
  border: 2px solid black;
  box-shadow: 25px 25px 100px 0px rgba(0,0,0,0.6);
  border-radius: 15px;
  min-height: 500px;
}

h1.title {
  font-family: 'Black Ops One';
  font-size: 45px;
  color: #3089CE;
}

.btn-outline-primary {
  color: #3089CE;
  border-color: #3089CE;
}

.btn-outline-primary:hover {
  background-color: #3089CE;
  border-color: #3089CE;
}

div.inner {
  background-color: #C8DAE8;
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  height: 300px;
  overflow-y: scroll;
}

p span {
  color: #3089CE;
  font-size: 11px;
}
div.form {
  width: 100%;
 }
form{
  margin-left: 10%;
  width: 80%;
}
#input {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  height: 38px;
  width: 100%;
  border-radius: 10px;
  border-style: solid;
  border: 1px solid black;
  background-color: #C8DAE8;
 }
button.btn {
  border-radius: 10px;
}

/* SCROLLBAR STYLING */
#style-7::-webkit-scrollbar-track {
  margin: 3px 0;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #C8DAE8;
	border-radius: 10px;
}

#style-7::-webkit-scrollbar {
	width: 10px;
}

#style-7::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
